@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .custom-w-sr-mobile {
      /*for search results table mobile screen*/
      width: 45.75rem;
    }
    .custom-w-sp-mobile {
      /*for selected properties table mobile screen*/
      width: 40.75rem;
    }
    .custom-top-sidebar {
      /*for sidebar position*/
      top: 12.5rem /* 192px */;
    }
  }
}
